$rojoWabi: #f38291;
$moradoWabi:#6C7CBC;
$verdeWabi: #5EBFAC;
$limaWabi: #ABD484;
$amarilloWabi: #FCE800;
$grisWabi: #D1D2D4;
$fuenteBlanca: whitesmoke;
$negro: #000000;

/*Transiciones*/

.form-control{
    transition: all 1s;
}

.form-control:focus {
    font-size: 24px;
    background-color: $moradoWabi;
    color: $fuenteBlanca;
    font-weight: bold;
}

.main{
    transition: 0.5s;
}

.main:hover {
    background-color: $rojoWabi;
}


.homeTeam:hover {
    transition: 0.5s;
}

.homeTeam:hover {
    background-color: $amarilloWabi;
}

.aside{
    transition: 0.5s;
}

.aside:hover {
    background-color:$limaWabi;
}

/*Animaciones*/

.textoSobreImg {
    animation-duration: 3s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Pagina Home*/
.navbar-custom {
    background-color: $negro;
  }

.videoBanner {
    filter: brightness(65%);
    width: 100%;
}

.textoSobreImg{
    position: absolute;
    top: 30%;
    left: 10%;
    font-weight: bold;
}

.portadaBanner { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: $fuenteBlanca;
    font-size: 6.5rem;
    font-weight: 700;
}

.portada2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    background-color: $verdeWabi;
    color:$fuenteBlanca;
    padding: 1px;
    margin: 5px;
}

.portada3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 400;
    background-color: $verdeWabi;
    color:$fuenteBlanca;
    padding: 1px;
    width: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.2rem 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

.btn-md {
    text-transform: uppercase;
    padding: 1.0rem 2rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

.botonCTA {
    background-color: $rojoWabi;
    border: solid $rojoWabi;
}

.backyellow {
    background-color: $amarilloWabi;
    color: $negro;
    width: 40%;
}

.margen10 {
    margin: 10%;
}

.bottom10 {
    margin-bottom: 10%;
}

.top10 {
    margin-top: 10%;
}

.left10 {
    margin-left: 10%;
}

.right10 {
    margin-right: 10%;
}

.margen5 {
    margin: 5%;
}

.bottom5 {
    margin-bottom: 5%;
}

.top5 {
    margin-top: 5%;
}

.left5 {
    margin-left: 5%;
}

.right5 {
    margin-right: 5%;
}

.textoHomeEpisodio {
    margin: 3%;
}

.tituloCard {
    font-size: 2rem;
}

.footer {
    background-color: $verdeWabi;
    padding: 5%;
    color: $fuenteBlanca;
}

.iconosPodcast {
    padding: 1%;
}

.iconosRRSS {
    margin: 5px;
}

.footerFinal {
    background-color: grey;
    color: $fuenteBlanca;
    text-decoration: none;
}

.btn-morado {
    color: $fuenteBlanca;
    background-color: $moradoWabi;
    border-color: $moradoWabi;
}

.enlaceFlat{
    text-decoration: none;
    color: $fuenteBlanca;
    font-weight: 600;
}

.textNav{
    font-size: 1.3rem;
}

.textMap {
    text-decoration: none;
    color: $fuenteBlanca;
    font-weight: 600;
    font-size: 1.3rem;
}

/*Media Querie: General*/

@media (min-width:370px) and (max-width:768px) {
    
    #portada{
        margin-top: 7rem;
    }

    .portadaBanner {
        font-size: 3rem;
        color: $negro;
        text-align: center;
    }

    .portada2 {
        font-size: 20px;
        margin-bottom: 1%;
        background-color: transparent;
        color: $negro;
        text-align: center;
    }

    .portada3 {
        font-size: 20px;
        background-color: transparent;
        color: $negro;
        text-align: center;
        width: 100%;
    }

    .textoSobreImg {
        position:static;
    }

    .videoBanner{
        display: none;
    }

    .bannerCTA{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    
    .backyellow {
        font-size: 20px;
        font-weight:700;
        width: max-content;
    }

    .main{
        margin-top: 2rem;
    }

    .aside {
        background-color: white !important;
    }

    .homeTeam{
        display: none;
    }

    .footer{
        display: none;
    }

    .btn-xl{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }

    .footerFinal{
        display: none;
    }

    .aside{
        background-color: $rojoWabi;
    }

    .mt-5 {
        margin-top: 0.5rem !important;
    }

    .mb-5 {
        margin-bottom: 0.5rem !important;
    }

    .display-4 {
        font-size: 2rem;
    }

    .suscribete {
        text-align: center !important;
    }

    .respiroVisual {
        margin-top: 3rem;

    }

    .respiroVisual2{
        margin-top: 5rem;
    }

}

@media (min-width:770px) and (max-width:1198px) {
    .footer {
        background-color: $amarilloWabi;
        color: $negro;
        padding: 0;
    }

}

/*Media Querie: Paginas*/

@media (min-width:370px) and (max-width:768px) {
    .episodioRRSS {
        display: none;
    }

    .iconosRRSS {
        display: none;
    }

    .textoHomeEpisodio{
        font-size: 0.9rem;
    }


}
